:root {
    --background-primary: #92C4F1;
    --background-secondary: #A2C1DE;
    --background-input: #FEFEFF9E;
    --font-primary: #000000;
    --font-secondary: #3B4E5B;
    --font-income: #0C9C4F;
    --font-income: #B81C1C;
    --font-link: #001AFF;
    --button-primary: #7699B3;
}

body {
    background-color: var(--background-primary);
    color: var(--font-primary);
}

a {
   color: var(--font-link);
   text-decoration: none;
}
.form {
    margin: 1rem auto;
    max-width: 50%;
}