@import './assets/nav.scss';
@import './assets/forms.scss';
@import './assets/tables.scss';
@import './assets/profile.scss';
@import './assets/budget-bar.scss';

:root {
    --main-background: #AEDAF9;
    --font-color: #000000;
    --link-color: #001AFF;
    --form-input: #FEFEFF9E;
    --button-color: #7699B3;
    --font-income: #0C9C4F;
    --header-footer-background: #A2C1DE;
    --main-font: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 12px;
}

body {
    background-color: var(--main-background);
    color: var(--font-color);
    font-weight: 700;
    font-family: var(--main-font);
}

h3 {
    font-size: 1.1875rem;
    font-weight: 700 ;
}
.container {
    padding: 0 1.5rem 0 1.5rem;
}
.amount-income {
    color: var(--font-income);
}

@media screen and (min-width: 1024px) {
    :root {
        font-size: 14px;
        line-height: 14px;
    }
    .container {
        padding: 0 2rem 0 3rem;
    }
}