@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: steelblue;
    color: #fff;
}

a {
   color: black;
   text-decoration: none;
}
.form {
    margin: 1rem auto;
    max-width: 50%;
}