@import './assets/nav.scss';
@import './assets/forms.scss';
@import './assets/tables.scss';
@import './assets/profile.scss';
@import './assets/budget-bar.scss';

:root {
    --main-background: #AEDAF9;
    --font-color: #000000;
    --link-color: #001AFF;
    --form-input: #FEFEFF9E;
    --button-color: #7699B3;
    --font-income: #0C9C4F;
    --header-footer-background: #A2C1DE;
    --main-font: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 12px;
}

body {
    // background-image: linear-gradient(to bottom, #aedaf9, #a0c9e7, #92b9d5, #84a9c4, #7699b3);
    background-color: var(--main-background);
    color: var(--font-color);
    font-weight: 700;
    font-family: var(--main-font);
}

h3 {
    text-align: center;
    font-size: 1.583rem;
    font-weight: 700 ;
    margin-bottom: 2rem;
}
.container {
    padding: 0 1.5rem 0 1.5rem;
}
.amount-income {
    color: var(--font-income);
}

.balance-totals {
    background-color: var(--form-input);
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 2rem;
}
.profile-student{
    margin-bottom: 4.75rem;
    & > .profile-student__img {
        width: 166px;
        height: auto;
    }
}
@media screen and (min-width: 768px) {
    :root {
        font-size: 14px;
        line-height: 14px;
    }
    .container {
        padding: 0 2rem 0 3rem;
    }
    .balance-desktop__header {
        margin-bottom: 3.95rem;
    }
    .profile-student{
        margin-bottom: 0;
        & > .profile-student__img {
            margin: 0 auto;
            width: 239px;
            height: auto;
        }
    }
}