.form-style {
    padding: 0 1em;
}

.form-style{
    .form-control, .form-select {
        background-color: var(--form-input);
        border-radius: 20px;
        margin: 0.75em 0;
        min-width: 120px;
        padding: 0.5em 0.7em;
        &.is-invalid{
            padding-right: 30px;
        }
    }
}

.form-style h3 {
    text-align: center;
}


.form-style .btn {
    border: none;
    background-color: var(--button-color);
    font-weight: 700;
    cursor: pointer;
    border-radius: 0;
    padding: 0.725em;
    font-family: inherit;
    color: var(--font-color);
    white-space: nowrap;
    width: 118px;
    height: 45px;
    font-size: 14px;
    &:active{
        background-color: var(--button-color);
        opacity: 75%;
        color: var(--font-color);
    }
}



.form-buttons-container{
    margin: 2em 0;
    .col {
        text-align: center;
    }
}

.react-datetime-picker__wrapper {
    border: none;
}
.react-datetime-picker__button {
    padding: 0 6px;
}
.react-datetime-picker__inputGroup {
    font-size: 0.875rem;
    font-family: inherit;
}
.react-datetime-picker__inputGroup__input:invalid {
    background: none;
    outline: none;
}