.table {
    border-collapse: separate;
    border-spacing: 0 1rem;
    box-sizing: border-box;
    & > tbody {
        border-style: none;
        & > .table-row {
            border-style: none;
            border-radius: 2rem;
            & > .table-cell {
                background-color: var(--form-input);
                border-style: none;
                padding: 1rem 0.2rem;
                vertical-align: middle;
                line-height: 1rem;
                &:first-child{
                    border-top-left-radius: 8.3rem;
                    border-bottom-left-radius: 8.3rem;
                    padding-left: 1rem;
                }
                &:last-child{
                    border-top-right-radius: 8.3rem;
                    border-bottom-right-radius: 8.3rem;
                    padding-right: 1rem;
                    padding-left: 1rem;
                }
                &.table-cell__ellipsis {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: 100px;
                }
            }
            & > .table-button{
                font-size: 1.5rem;
            }
        }
    }
    & > thead {
        border-style: none;
        & > tr {
            border-style: none;
            padding-left: 1rem;
            padding-right: 1rem;
            & > th {
                border-style: none;
                padding: 0;
                font-size: 0.75rem;
                &:first-child {
                    padding-left: 1rem;
                }
                &:last-child {
                    padding-right: 1rem;
                }
            }
        }
    }
    .table-button {
        color: inherit;
        &:hover{
            cursor: pointer;
        }
    }
}
.table-filter {
    width: fit-content;
    margin-top: 1rem;
    .form-style {
        padding: 0;
    }
    .table-filter--size {
        width: fit-content;
        padding-right: 0;
        .col {
            padding-right: 0;
        }
    }
    .table-filter--sort {
        padding-right: 0;
    }
    .size--select {
        width: min-content;
        background-color: var(--form-input);
        border-radius: 20px;
        & > option {
            background-color: var(--form-input);
        }
    }
}
@media screen and (min-width: 1024px) {
    .table {
        max-width: 33%;
        .table-button {
            font-size: 1rem;
        }
    }
    .table-filter {
        max-width: 33%;
        .table-filter--size {
            .form-label {
                white-space: nowrap;
            }
        }
    }
}